@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:200}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:300}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:400}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:500}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:600}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:700}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:800}

:root{
    --bg: #111;
    --bg-text: #eee;
    --purp: #474BFF;
    --grn: #6CEBA5;
    --nav-w: 55px;
    --con-h: 85px;
    --img-s: 86px;
    --deal-p: 40%;
    --deal-hex: #;
    --deal-stroke: #000;
    --deal-shadow: 0 4px 4px #4455;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-decoration:0;
    font-family:"pjs",sans-serif;
}
 html,body{
    overflow:auto;
}
body{
    width:100vw;
    position:fixed;
    display:flex;
}


#sidebar{min-width: 300px}
#sidebar a{cursor:pointer;border-top-right-radius:.5rem;border-bottom-right-radius:.5rem;display:block;padding:1rem 1rem 1rem 1.5rem;color:#1f1f1f;font-size:.9rem;font-weight:600}
#sidebar a.selected{background:#c2c6ff}
#sidebar hr{display:block;border:0;border-top:1px solid #e1e3e1;box-sizing:border-box;height:8px;margin-top:8px}


            #header{padding:.5rem}
            #search{position:relative;width:100%}
            #search input{border-radius:2rem;padding:1rem 1rem 1rem 3.3rem;border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;outline:0;position:relative;width:100%;font-size:1rem;font-weight:500;border:0;background:#f1f3f4}
            #search svg{position:absolute;top:.41rem;left:.5rem;z-index:1;height:40px;fill:#5f6368;width:40px;cursor:pointer;padding:.53rem;border-radius:5rem}
            #search label:hover svg{background:#e2e5e6}
            body>div{display:flex;width:100vw;max-height: calc(100% - 1rem - 52px)}
            header{display:flex;align-items:center;padding:.5rem 2.5rem .5rem 1rem;gap:.7rem}
            header>svg{height:35px;fill:var(--purp);width:35px}
            header>p{color:var(--purp);font-weight:800;font-size:x-large}
            body{flex-direction:column}
            #p-a{position:relative;display:flex;cursor:pointer;border-radius:2rem;padding:1rem 1rem 1rem 1.5rem;border-top-left-radius:.2rem;border-bottom-left-radius:.2rem;outline:0;margin-left:2px;font-size:1rem;font-weight:500;border:0;background:#f1f3f4;color:#5f6368}
            #p-a svg{margin-left:5px}
            #profile{
                position:absolute;
                top:calc(52px + .5rem);
                right:0;
                display:none;
                z-index:100;
                border-radius: 2rem;
                padding: 1rem;
                background: #e9eef6;
                cursor:auto;
            }
            #p-a:focus #profile{
                display:block;
            }
            #profile a{
                display:block;
                width:250px;
                cursor:pointer;
                background:#f8fafd;
                color:#222;
                font-size:.9rem;
                padding:1rem;
                border-radius:.25rem;
                text-align:left;
                margin-top: 4px;
                text-wrap:nowrap;
            }
            #profile a:first-of-type{
                margin-top:1rem;
                border-top-right-radius:1rem;
                border-top-left-radius:1rem;
            }
            #profile a:last-child{
                border-bottom-right-radius:1rem;
                border-bottom-left-radius:1rem;
            }


body>navigation{
    padding: .4rem;
    min-width: var(--nav-w);
    width: var(--nav-w);
    display: flex;
    z-index:1;
    justify-content: center;
    border-right: 1px solid #333;
    box-shadow: 1px 0px 2px black;
}
body>navigation a{
    display: flex;
    height:40px;
    border-radius:.25rem;
}
body>navigation a:hover{background:#222}
body>navigation svg{
    width:100%;
    padding:.4rem;
}
#content-wrapper{width: calc(100% - var(--nav-w))}
#content-wrapper header{
    color:#fff;
    border-bottom: 1px solid #333;
    box-shadow: 0px 1px 2px black;
    height: 50px;
}
#content{
    padding: 2rem;
    display:flex;
    height: calc(100vh - 50px);
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{-moz-appearance:textfield}






#toast {
    position: fixed;
    top: 1rem;
    padding: 1rem 1.5rem;
    border-radius: .2rem;
    right: 1rem;
    cursor: pointer;
    background: #f003;
    overflow: hidden;
    width:fit-content;
    backdrop-filter: blur(5px);
    font-weight: bold;
    color: #cf7777;
    transform: translateY(calc(-100% - 1rem));
    transition: transform 1s ease;
}
#toast:before {
    content: '';
    background: #cf7777;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: width .5s linear;
}
#toast.show {transform:none}
#toast.show:before{width:0;transition:width 10s linear}

#toast.green{
    background:#0f03;
    color: #99cf77;
}
#toast.green:before{
    background: #99cf77;
}