@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:200}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:300}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:400}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:500}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:600}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:700}
@font-face{font-family:'pjs';src:url(pjs.v1.woff2);font-weight:800}

:root {
    --purple:#474BFF;
    --purple-tint:#6165ff;
    --green:#6CEBA5;
    --green-tint:#333;
    --mid:#161616;
    --semi:#0F1012;
    --client-l:0%;
    --tint:#232323;
    --red:#db6a6a;
    --container-px:100px;
    --outer:.4rem;
    --inner:.2rem;
    --green-bg:#223d2e;
    --col:#555;
}
 .preloader{transition:opacity .4s ease;}
*{font-family:"pjs",sans-serif;margin:0;}
body{margin:0;font-size:.875rem;box-sizing:border-box;background:var(--semi);height:100vh;overflow:hidden}
body>div{height:calc(100% - 56px);display:flex}
body>div>div{width:100%;height:100%;position:relative;overflow:hidden}
body main{border:1px solid var(--green-tint);height:calc(100% - 63px - 1rem);margin:0 1rem 0;}
.preloader{background:var(--semi);width:100%;height:100%;top:50%;left:50%;position:absolute;transform:translate(-50%,-50%);z-index:99999}
.preloader img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}

#globNotif{
    position: absolute;
    z-index: 99999;
    top: 1rem;
    max-width: 300px;
    height:fit-content;
    text-align: right;
    box-sizing:border-box;
    transform: translateX(calc(100% + 1rem + 4px));
    min-height:40px;
    padding: .7rem 1rem;
    border-radius: .5rem;
    cursor:pointer;
    right: 1rem;
    color:#000;
    transition: transform .3s ease;
    background:var(--tint); 
    opacity: .9; 
    box-shadow: 0 2px 5px 0; 
    font-weight: 600;
}

body>nav{z-index:99998;position:relative;background:var(--purple);display:flex;justify-content:space-between;color:white;border-bottom:1px solid var(--purple-tint);height:56px}
body>nav .user{font-size:1rem;font-weight:bold}
body>nav>div{display:flex;align-items:center;padding:.8rem 1rem} 
body>nav .level{height:100%;width:fit-content;border-radius:4px;margin-right:.5rem;background:conic-gradient(var(--mid) 0%,var(--green) 0% var(--client-l),var(--mid) var(--client-l) 100%)}
body>nav .level>div{display:flex;margin:2px;align-items:center;font-weight:bold;border-radius:2px;padding:0 1rem;height:calc(100% - 4px);background:var(--mid)}
body>nav svg:not(.logo){height:100%;width:24px;stroke:white;fill:none;stroke-width:2px;stroke-linecap:round;stroke-linejoin:round;margin:0 .5rem}
body>nav path:first-child{stroke:none}
body>nav .logo{fill:var(--green);position:absolute;top:50%;left:50%;height:30px;transform:translate(-50%,-50%)}

body>div>aside{border-right:1px solid var(--green-tint);width:100%;max-width:250px;transition:max-width .3s ease;height:100%;background:var(--mid);color:white;box-shadow:0 1px 1px 0 rgba(0,0,0,.3),1px 1px 1px 0 rgba(0,0,0,.3),-1px 1px 1px 0 rgba(0,0,0,.3)}
body>div>aside p{text-transform:capitalize;margin:0;font-size:1.2rem;font-weight:600;transition:transform .3s ease;}
body>div>aside div{height:calc(100% - 63px);overflow:auto;transition:transform .3s ease}
body>div>aside header{display:flex;position:relative;align-items:center;box-sizing:border-box;justify-content:space-between;padding:1rem;padding-left:2rem;width:250px;transition:transform .3s ease}
body>div>aside header:after{content:'';transition:width .3s ease;position:absolute;background:#414750;width:100%;height:1px;left:0;bottom:0}
body>div>aside:has(#t-SB:checked) header{transform:translateX(calc(-100% + 62px))}
body>div>aside:has(#t-SB:checked) div{transform:translateX(-200%)}
body>div>aside:has(#t-SB:checked){max-width:62px}
body>div>aside:has(#t-SB:checked) header:after{width:calc(100% - 20px)}
body>div>aside:has(#t-SB:checked) a{width:219px;}
#t-SB{display:none}
#t-SB+label{display:flex;margin-top:1px;}
#t-SB+label svg{height:30px;cursor:pointer}
#t-SB+label rect{width:18px;height:1.5px;transform-box:fill-box;transform-origin:50% 50%;fill:hsl(0 0% 98%)}
#t-SB:checked+label rect:nth-child(1){transform:translate(0,0) rotate(180deg)}
#t-SB:checked+label rect:nth-child(2){transform:rotate(0deg)}
#t-SB:checked+label rect:nth-child(3){transform:translate(0,0) rotate(0deg)}
#t-SB:not(:checked)+label rect:nth-child(1){transform:translate(0,333%) rotate(-45deg)}
#t-SB:not(:checked)+label rect:nth-child(2){transform:rotate(45deg)}
#t-SB:not(:checked)+label rect:nth-child(3){transform:translate(0,-333%) rotate(45deg)}
body>div>aside a{text-decoration:none;color:white;padding:1rem 1rem 1rem 2rem;display:block;transition:width .3s ease}
body>div>aside a:hover{background:var(--tint)}
.onpage{font-weight:bold;color:var(--purple-tint)!important;position:relative}
.onpage:after{content:'';position:absolute;width:2px;height:100%;background:var(--purple);right:0;top:0}
body>div>aside:has(#t-SB:checked) .onpage:after{width:0}

ol{padding:1.5rem 2rem;text-transform:capitalize;display:flex;align-items:center;color:#ddd;font-weight:600;gap:0.5rem}
ol a[href]{color:var(--green);text-underline-offset:0.25em;font-weight:400}
ol svg{height:14px;fill:none;padding-left:1px}
ol path{stroke:var(--green);stroke-width:2px;stroke-linecap:round;stroke-linejoin:round}

main{background:var(--mid);height:100%;border-radius:4px;overflow:hidden}
main header{background:var(--mid);padding:.5rem;display:flex;border-bottom:1px solid var(--green-tint);box-sizing:border-box;height:52px;gap:.5rem}
main header input{width:100%;border-radius:2px;background:var(--semi);padding:.3rem .6rem;border:0;color:white;outline:1px solid var(--green-tint)}
main header input:hover{outline-offset:2px}
main header input:focus{outline:1px solid var(--green);outline-offset:1px}
main header > input::placeholder{color:var(--col);font-style:italic;font-weight:500}
main header > div{display:flex;align-items:center}
main header > div > input{margin:0 .5rem;width:5ch;text-align:center;padding:.6rem .1rem}
main header > div > svg{height:14px;fill:none;padding-left:1px}
main header > div > svg path{stroke:var(--green-tint);stroke-width:2px;stroke-linecap:round;stroke-linejoin:round}
::-webkit-scrollbar{display:none}
main table{overflow:auto;width:100%;display:block;max-height:calc(100% - 52px);border-collapse:collapse}
main thead{background:var(--mid);color:var(--col)}
main th{text-wrap:nowrap;padding:.5rem 2rem;position:relative}
main td{position:relative;font-size:.8rem}
main header a{display:flex;align-items:center;line-height:1rem;text-align:center;position:relative;background:var(--semi);font-weight:500;color:var(--col);cursor:pointer;border-radius:2px;padding:.3rem .8rem}

main header a div{    
    position:absolute;
    width:100%;
    left:0;
    outline: 1px solid var(--green-tint);
    top:0;
    z-index:10;
    border-radius:2px;
    max-height:0;
    padding-top:calc(50% - 0.25rem);
    overflow:hidden;
    transition:max-height .3s ease;
}
    
main header a:hover div{max-height:2rem;outline:1px solid var(--green-tint);}
main header a div button{width:100%;padding:.5rem 0;background:var(--semi);outline:0;cursor:pointer;font-weight:500;color:var(--col);border:0}
main header a div button:hover{background:var(--mid);outline:1px solid var(--green-tint);border-radius:2px}   
            main table th:first-child{width:0px;padding:0 2rem}
            th:not(:last-child):before,td:not(:last-child):before{content:'';position:absolute;width:1px;height:50%;top:50%;transform:translateY(-50%);right:0;background:var(--green-tint)}
            .btf-checkbox{display:block;position:absolute;width:15px;height:15px;border:1px solid var(--green-tint);border-radius:2px;top:50%;cursor:pointer;left:50%;transform:translate(-50%,-50%)}
            .btf-checkbox input{display:none}
            thead tr{height:33px}
            tbody{position:relative;}
            tbody tr{border-top:1px solid var(--green-tint);height:50px;transition:height .3s ease;overflow:hidden;}
            td{width:fit-content;padding:0 1rem;color:#ccc;font-weight:500}
            td:nth-child(2){max-width:250px;width:100%;height:100%;gap:1rem;padding:0 1rem;text-wrap:nowrap}
            td div{display:flex;align-items:center;gap:1rem}
            td:nth-child(2) div{overflow-x:scroll;}
            td:nth-child(2) img{border-radius:2px;max-height:30px}
            table{height:fit-content!important}
            td:last-child{padding:0 .8rem}
            td:last-child button{width:100%;border:1px solid var(--green-tint);background:var(--semi);font-weight:bold;color:var(--col);cursor:pointer;border-radius:2px;padding:.5rem 1rem;text-wrap:nowrap}
            td:last-child button:hover{border:1px solid var(--green)}
            #c-t{position:absolute;height:100%;background:var(--mid);box-shadow:-1px 0 5px var(--semi);right:0;top:0;display:flex;flex-direction:column;min-width:500px;width:calc(50vw - 50px);transform:translateX(100%);transition:transform .3s ease}
            #c-t>header{padding:.2rem;display:flex;gap:.4rem;margin:1rem 1rem 0;border-radius:4px;background:#111;border:1px solid var(--green-tint);position:relative}
            #c-t>header:before{content:'';top:.4rem;left:.4rem;pointer-events:none;position:absolute;height:calc(100% - .8rem);background:var(--purple);border:1px solid var(--purple-tint);width:calc(50% - .6rem);border-radius:2px;transition:transform .7s cubic-bezier(1, 1.5, 0, 0.8)}
            #c-t>header>button{cursor:pointer;border-radius:2px;color:white;font-weight:600;outline:0;padding:.6rem 2rem;width:50%;background:none;border:0;position:relative}
            .b-e>header:before{transform:translateX(calc(100% + .4rem))}
            #c-t>div{display:flex;gap:1rem;padding:0 1rem .5rem;height:100%;overflow:hidden}
            .b-e>div>div{transform:translateX(calc(-100% - 1rem))}
            #c-t>div>div{min-width:100%;border-radius:4px;transition:transform .6s ease;box-sizing:border-box;display:flex;flex-direction:column;font-weight:100;overflow:hidden}
            #c-t>div>div:first-child>button{cursor:pointer;padding:.4rem;background:var(--purple);color:white;font-weight:600;border:1px solid var(--purple-tint);border-radius:4px;margin-bottom:.5rem;}
            #c-t>div>div:first-child>div{gap:.4rem;display:flex;flex-direction:column;overflow-y:scroll}
            #c-t>div>div:first-child>div>div{display:flex;gap:.4rem}
            #c-t>div>div:first-child>div>div>input{border:1px solid var(--green-tint);background:#111;padding:.8rem;border-radius:4px;color:white;font-weight:400;outline:0;}
            #c-t>div>div:first-child>div>div>input:hover{border-color:var(--purple-tint)}
            #c-t>div>div:first-child>div>div>input:focus{border-color:var(--purple)}
            #c-t>div>div:first-child>div>div>input:first-child{width:5ch;text-align:right;}
            #c-t>div>div:first-child>div>div>input:last-child{width:100%;overflow-x:scroll;}
            
            #c-t>div>div:last-child{border:1px solid var(--green-tint);background:#111;padding:2rem 1rem 1rem .8rem}
            #c-t>div>div:last-child>div{overflow-x:hidden;width:100%;height:100%}
            #c-t div[contenteditable]{min-height:100px;box-sizing:border-box;color:white;width:fit-content;font-weight:400;min-width:100%;text-wrap:nowrap;outline:0;resize:none;line-height:1.5rem}
            #c-t div:has(>div>div[contenteditable]) p{color:#888;line-height:1.5rem;width:1.5rem;padding-right:1rem;margin-right:1rem;height:fit-content;font-weight:1000;text-align:right;user-select:none;border-right:2px dashed}
            #c-t div:has(>div>div[contenteditable]){display:flex;word-spacing:2rem}
            #c-t div header{display:flex;color:#888;font-weight:800;padding:0.4rem 0 0.5rem;margin-top:-1.5rem}
            #c-t div header span:first-child{width:1.5rem;display:block;text-align:right}
            #c-t div header span:not(:last-child){margin-right:1.5rem}
            
            #c-t footer{
                display:flex;
                gap:.5rem;
            }
            #c-t footer button{
                padding:0.7rem 1rem;
                color:white;
                font-weight:600;
                background:#111;
                border:1px solid var(--green-tint);
                border-radius:4px;
                cursor:pointer;
            }
            #c-t footer button:last-child{
                width:100%;
                border-color:var(--purple-tint);
                background:var(--purple);
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance:none;
              margin:0;
            }
            
            /* Firefox */
            input[type=number] {
              -moz-appearance:textfield;
            }
            #c-t label{
                padding:.4rem .8rem;
                
                border:1px solid var(--green-tint);
                background:#111;
                display:flex;
                justify-content:space-between;
                margin:.5rem 1rem;
                box-sizing:border-box;
                align-items:center;
                border-radius:4px;
            }
            #c-t label span{
                color:white;
                font-weight:bold;
            }
            #c-t label input{
                color:white;
                border:1px solid var(--green-tint);
                background:var(--mid);
                max-width:10ch;
                padding:0.4rem;
                text-align:right;
                outline:0;
                border-radius:2px;
                font-weight:bold;
            }
            
            th{width:100%}
            
            .removed-row{
                opacity:0;   
                height:0;
            }
            .removed-row td{
                font-size:0;
                transition:font-size .3s ease;
            }
            .removed-row img{
                height:0;
            }
            .removed-row button{
                display:none;
            }
            
            html{overflow:hidden}
            
            .noCommits{
                position:absolute;
                display:block;
                top:50%;
                font-weight:500;
                left:50%;
                transform:translateX(-50%);
            }
            .noCommits a{
                text-decoration:none;
                font-weight:bolder;
                color:white;
            }